.edit-form {
    max-height: 1200px;
    overflow: hidden;

    &--hidden{
        max-height: 0;
    }

    &__form {
        height: max-content;
    }
}

.form{
    &__couple{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }

    &__label{
        font-size: 0.8rem;
        margin-bottom: 0.2rem;
    }

    &__input{
        border-radius: 0.6rem;
        padding: 0.8rem 0.8rem;
        font-size: 1rem;
        outline: none;
        border: none;
        background-color: rgba(0, 0, 0, 0.08);
    }

    .simple-row &__input--fixed{
        margin-right: 1rem;
    }

    &__input--fixed{
        width: 180px;
    }

    &__button{
        margin-top: 1rem;
    }
}
.scrollable-form {
    max-height: 400px;
    overflow-y: auto;
    padding-right: 10px;
}
